@media only screen and (max-width: 360px) {
.lucifer_logo {
		font-size: 15px;
		padding-bottom: 2%;
}
.mobile-edition {
  font-family: 'Quicksand', sans-serif;
  opacity: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 13px;
  margin-top: 50%;
}
.mobile-edition a{
  border: 1px solid grey;
  margin-left: 10%;
  margin-right: 10%;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 10px;
  font-weight: bold;
  letter-spacing: 1px;
}
.mobile-edition a:hover {
	color: #0AB5F0;
	transition: .7s;
}
.team-head {
	display: none;
}
.h4k-kid {
	display: none;
}
}
@media only screen and (max-width: 480px) {
.lucifer_logo {
		font-size: 15px;
	}
.mobile-edition {
  font-family: 'Quicksand', sans-serif;
  opacity: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 13px;
  margin-top: 50%;
}
.mobile-edition a{
  border: 1px solid grey;
  margin-left: 10%;
  margin-right: 10%;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 10px;
  font-weight: bold;
  letter-spacing: 1px;
}
.mobile-edition a:hover {
	color: #0AB5F0;
	transition: .7s;
}
.team-head {
	display: none;
}
.h4k-kid {
	display: none;
}
@media only screen and (max-width: 900px) {
.mobile-edition {
  font-family: 'Quicksand', sans-serif;
  opacity: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 13px;
  margin-top: 50%;
}
.mobile-edition a{
  border: 1px solid grey;
  margin-left: 10%;
  margin-right: 10%;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 10px;
  font-weight: bold;
  letter-spacing: 1px;
}
.mobile-edition a:hover {
	color: #0AB5F0;
	transition: .7s;
}
.team-head {
	display: none;
}
.h4k-kid {
	display: none;
}
