@media only screen and (max-width: 450px) {
	.h4k-lone img{
		margin-left: 17%;
	}
	.h4k-lone-name-para {
		margin-left: 37%;
	}
	.lone-site-link {
		margin-left: 13%;
	}
	.lone-site-link a {
		padding-left: 80px;
		padding-right: 80px;
	}
	.h4k-kid img{
		margin-left: 17%;
		margin-top: 30%;
	}
	.h4k-kid-name-para {
		margin-left: 37%;
	}
	.kid-site-link {
		font-size: 15px;
		margin-left: 17%;
	}
	.kid-site-link a {
		padding-left: 80px;
		padding-right: 80px;
	}
}
