@media only screen and (max-width: 450px) {
	.h4k-lone img{
		margin-left: 10%;
	}
	.h4k-lone-name-para {
		margin-left: 30%;
	}
	.lone-site-link {
		margin-left: 20%;
	}
	.lone-site-link a {
		padding-left: 60px;
		padding-right: 60px;
	}
	.h4k-kid img{
		margin-left: 10%;
		margin-top: 30%;
	}
	.h4k-kid-name-para {
		margin-left: 32%;
	}
	.kid-site-link {
		font-size: 15px;
		margin-left: 17%;
	}
	.kid-site-link a {
		padding-left: 50px;
		padding-right: 50px;
	}
}