* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
header{
  background-color: #fff;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  padding-bottom: 2%;
}
.lucifer_logo{
  font-family: 'Quicksand', sans-serif;
  text-align: center;
  letter-spacing: 1px;
  font-weight: bold;
  font-size: 18px;
  color: black;
  padding-top: 15px;
}
.h4k-lone img{
	width: 250px;
	height: auto;
	border-radius: 50%;
	margin-left: 22%;
}
.h4k-lone img:hover {
	box-shadow: 0px 0px 30px #0AB5F0;
	transition: .7s;
  -ms-transform: scale(1.1); /* IE 9 */
  -webkit-transform: scale(1.1); /* Safari 3-8 */
  transform: scale(1.1);
}
.h4k-lone {
	margin-left: 24%;
	margin-right: 25%;
	margin-top: 8%;
	margin-bottom: 0%;
	border: 0px solid grey;
	padding-left: 90px;
	padding-right: 10px;
	padding-top: 70px;
	padding-bottom: 80px;
  -webkit-box-shadow: 0 0 30px lightblue ;
  box-shadow: 0 0 30px lightblue ;
}
.h4k-lone:hover {
  transition: .7s; all ease-in-out;
  -webkit-box-shadow: 0 0 30px #0AB5F0 ;
  box-shadow: 0 0 30px #0AB5F0 ;
}
.h4k-lone-name-para {
   font-family: 'Raleway', sans-serif;
   margin-top: 3%;
   margin-left: 38%;
   margin-bottom: 2%;
   letter-spacing: 1px;
   text-decoration: none;
}
.column {
  float: left;
  width: 7%;
  margin-left: 12%;
  margin-top: 3%;
}
.column img:hover {
  -webkit-box-shadow: 0 0 20px #0AB5F0;
  box-shadow: 0 0 20px #0AB5F0;
  transition: .6s;
  -ms-transform: scale(1.2); /* IE 9 */
  -webkit-transform: scale(1.2); /* Safari 3-8 */
  transform: scale(1.2);
  cursor: pointer;
}
/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}
.lone-site-link {
   font-family: 'Quicksand', sans-serif;
   margin-bottom: 0%;
   margin-left: 23%;
   margin-top: 10%;
   font-weight: bold;
   letter-spacing: 1px;
   text-decoration: none;
}
.lone-site-link a {
  border: 1px solid grey;
  border-radius: 7px;
  padding-left: 90px;
  padding-right: 90px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.lone-site-link a:hover {
  color: #0AB5F0;
  transition: .7s;
}
.h4k-kid img{
	width: 250px;
	height: auto;
	border-radius: 50%;
	margin-left: 22%;
}
.h4k-kid img:hover {
	box-shadow: 0 0 30px #0AB5F0;
	transition: .5s;
   -ms-transform: scale(1.1); /* IE 9 */
  -webkit-transform: scale(1.1); /* Safari 3-8 */
  transform: scale(1.1);
}
.h4k-kid {
	margin-left: 24%;
	margin-right: 25%;
	margin-top: 5%;
	margin-bottom: 5%;
	border: 0px solid grey;
	padding-left: 90px;
	padding-right: 10px;
	padding-top: 70px;
	padding-bottom: 40px;
  -webkit-box-shadow: 0 0 30px lightblue;
  box-shadow: 0 0 30px lightblue;
}
.h4k-kid:hover {
  transition: .7s; all ease-in-out;
  -webkit-box-shadow: 0 0 30px #0AB5F0 ;
  box-shadow: 0 0 30px #0AB5F0 ;
}
.h4k-kid-name-para {
   font-family: 'Raleway', sans-serif;
   margin-top: 3%;
   margin-left: 38%;
   margin-bottom: 2%;
   letter-spacing: 1px;
   text-decoration: none;
}
.column-kid {
  float: left;
  width: 7%;
  margin-left: 12%;
  margin-top: 3%;
}
.column-kid img:hover {
  -webkit-box-shadow: 0 0 20px #0AB5F0;
  box-shadow: 0 0 20px #0AB5F0;
  transition: .6s;
  -ms-transform: scale(1.2); /* IE 9 */
  -webkit-transform: scale(1.2); /* Safari 3-8 */
  transform: scale(1.2);
  cursor: pointer;
}
/* Clearfix (clear floats) */
.row-kid::after {
  content: "";
  clear: both;
  display: table;
}
.kid-site-link {
   font-family: 'Quicksand', sans-serif;
   margin-bottom: 5%;
   margin-left: 23%;
   margin-top: 10%;
   font-weight: bold;
   letter-spacing: 1px;
   text-decoration: none;
}
.kid-site-link a {
  border: 1px solid grey;
  border-radius: 7px;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.kid-site-link a:hover {
  color: #0AB5F0;
  transition: .7s;
}
.mobile-edition {
  font-family: 'Quicksand', sans-serif;
  opacity: 0;
  display: none;
}
